@import "https://fonts.googleapis.com/css?family=Alegreya+Sans:400,500";

/* General */
body {
  height: 100%;
  width: 100%;
  background: url("../img/home-bg-img.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.page-title{
	padding-top: 15px;
	font-weight: bold;
	color: white;
	text-align:center;
	font: 60px Alegreya Sans, sans-serif;
}

.neutralColourDark {
	color: #0979B2;
}

.neutralColourLight {
	color: #2995CC;
}

.strikingColourDark {
	color: #B22430;
}

.strikingColourLight {
	color: #FF192E;
}

.otherColour {
	color: #FFF933;
}

.white {
	color: #fff!important;
}

.neutralColourDarkBg {
	background-color: #0979B2;
}

.neutralColourLightBg {
	background-color: #2995CC;
}

.strikingColourDarkBg {
	background-color: #B22430;
}

.strikingColourLightBg {
	background-color: #FA396f;
}

.otherColourBg {
	background-color: #FFF933;
}

.whiteBg {
	background-color: #fff!important;
}

.max_width{
	width:100%;
	margin:10px;
}

.jumbotron {
	background: rgba(0, 0, 0, 0);
}

.jumbotron p{
	text-align: center;
}

.jumbotron a{
	text-decoration:none;
}

.icon{
	height:24px;
	width:24px;
}

label{
	text-align:center;
}

.row p{
	text-align:center;
}

.brand_title{
	font-weight:bold;
	font-size:145%;
	font-style: italic;
	color:black;
}

/*results*/
.winner{
	color: green;
}
.loser{
	color: red;
}

.progress{
	margin-bottom: 8px;
}

.no_margin{
	margin:0;
}

/* profile */
#userProfileIcon {
	height: 24px;
	width: 24px;
}

#userProfilePicture {
	height: 280px;
	width: 280px;
}

#profileCard {
	padding: 10px;
	width: 300px;
}

/* code-design */
.btn-glyphicon-title input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

textarea{
	resize:vertical;
}

/* map-design */
#canvas {
	width: 100%;
	height: auto;
	border:1px solid #c3c3c3;
	background-color: black; 
}

#grid-element {
	padding: 10px;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 30%;
	height: 100%;
	float: right;
	background-color: black;
}

.map-content {
	float : left;
	width: 70%;
	height: 100%;
}

.selected {
    border: 2px solid red;
}

/* playing*/
 #game-zone{
 	padding-top: 30px;
 }