body{
	background: #F8F8F8;
}
.wrapper{
	width:80%;
	text-align:center;
	height: 50px;
	color: grey;
	font-weight: bold;
	font-style: italic;
	font-size: 250%;
	margin:0;
}

.neutralColourDark {
	color: #0979B2;
}

.neutralColourLight {
	color: #2995CC;
}

.strikingColourDark {
	color: #B22430;
}

.strikingColourLight {
	color: #FF192E;
}

.otherColour {
	color: #FFF933;
}

.white {
	color: #fff!important;
}

.neutralColourDarkBg {
	background-color: #0979B2;
}

.neutralColourLightBg {
	background-color: #2995CC;
}

.strikingColourDarkBg {
	background-color: #B22430;
}

.strikingColourLightBg {
	background-color: #FA396f;
}

.otherColourBg {
	background-color: #FFF933;
}

.whiteBg {
	background-color: #fff!important;
}

.no_margin{
	margin:0;
}
h1{
	text-align:center;
}
h2{
	text-align:center;
}

.winner{
	color:green;
}
.loser{
	color:red;
}

.max_width{
	width:100%;
	margin:10px;
}


.max_width_margintop10{
	width:100%;
	margin-top:10px;
}

.width_80{
	width:80%;
	margin-right:10%;
	margin-left: 10%;
}


.map{
	border: solid 2px;
	height: 350px;
	width: 100%;
}

.map_block{
	height: 38px;
	width: 38px;
	background: black;
}

.player1{
	float: left;
	width: 30px;
	height: 30px;
}
.player2{
	float: right;
	width: 30px;
	height: 30px;
}

.countdown{
	line-height:0.5em;
}

.progress{
	margin-bottom: 8px;
}

.results{
	margin-top:15px;
}

.jumbotron p{
	text-align: center;
}
.play-button{
	width:20%;
}

.jumbotron a{
	text-decoration:none;
}

.icon{
	height:100px;
	width:100%;
}

.list-map-design{
	overflow-y: scroll;
    overflow-x: hidden;
    display: block;
   	height:626px;
}

.default-code{
	 background:#B8CAFF;
}

.over{
	overflow-y: scroll;
    overflow-x: hidden;
}

textarea{
	resize:vertical;
}

label{
	text-align:center;
}

.row p{
	text-align:center;
}
.width_80{
	width:80%;
	margin-right:10%;
	margin-left: 10%;
}

.center div{
	text-align:center;
}

.tright{
	text-align: right;
}

.feature_header{
	padding-top:9%;
	font-weight: bold;
	font-size: 130%;
	color: grey;
}

.row_header{
	 background:black;
}

.brand_title{
	font-weight:bold;
	font-size:145%;
	font-style: italic;
	color:black;
	
}
.back_grey{
	background:#6D6D6D;
}

/* profile */
#userProfileIcon {
	height: 24px;
	width: 24px;
}

#userProfilePicture {
	height: 280px;
	width: 280px;
}

#profileCard {
	padding: 10px;
	width: 300px;
}

/* code-design */
.btn-glyphicon-title input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/* map-design */
#mapBuilder {
	width: 100%;
	height: auto;
	border:1px solid #c3c3c3;
	background-color: black; 
}